# python中的一些替换操作


主要包括

* 把某一行替换

* 把某一列替换

* 按某个条件替换

# python中的replace函数如下：

DataFrame.replace(to_replace=None, value=None, inplace=False, limit=None, regex=False, method='pad', axis=None)

Replace values given in ‘to_replace’ with ‘value’

## to_replace : str, regex, list, dict, Series, numeric, or None

* str or regex:

str: string exactly matching to_replace will be replaced with value


regex: regexs matching to_replace will be replaced with value


*  list of str, regex, or numeric:

First, if to_replace and value are both lists, they must be the same length.


Second, if regex=True then all of the strings in both lists will be interpreted as regexs otherwise they will match directly. This doesn’t matter much for value since there are only a few possible substitution regexes you can use.


str and regex rules apply as above.


*  dict:

Nested dictionaries, e.g., {‘a’: {‘b’: nan}}, are read as follows: look in column ‘a’ for the value ‘b’ and replace it with nan. You can nest regular expressions as well. Note that column names (the top-level dictionary keys in a nested dictionary) cannot be regular expressions.


Keys map to column names and values map to substitution values. You can treat this as a special case of passing two lists except that you are specifying the column to search in.


* None:

This means that the regex argument must be a string, compiled regular expression, or list, dict, ndarray or Series of such elements. If value is also None then this must be a nested dictionary or Series.
See the examples section for examples of each of these.

## value : scalar, dict, list, str, regex, default None

Value to use to fill holes (e.g. 0), alternately a dict of values specifying which value to use for each column (columns not in the dict will not be filled). Regular expressions, strings and lists or dicts of such objects are also allowed.

## inplace : boolean, default False

If True, in place. Note: this will modify any other views on this object (e.g. a column from a DataFrame). Returns the caller if this is True.

## limit : int, default None

Maximum size gap to forward or backward fill

## regex : bool or same types as to_replace, default False

Whether to interpret to_replace and/or value as regular expressions. If this is True then to_replace must be a string. Otherwise, to_replace must be None because this parameter will be interpreted as a regular expression or a list, dict, or array of regular expressions.

## method : string, optional, {‘pad’, ‘ffill’, ‘bfill’}

The method to use when for replacement, when to_replace is a list.

In [1]:
import pandas as pd

import numpy as np

df = pd.DataFrame(np.arange(16).reshape(4,4),
                      columns=['A', 'B', 'C', 'D'])
df

    A   B   C   D
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

## 我们准备把df中A列的数字4改成5

### 方法一、使用replace函数

In [6]:
df['A'].replace(to_replace=4,value=5)

0     0
1     5
2     8
3    12
Name: A, dtype: int32

### 方法二、使用索引，然后进行赋值

In [4]:
df.A[df.A==4]=5

df.A

0     0
1     5
2     8
3    12
Name: A, dtype: int32

In [9]:
#选取满足B列等于5的A列中的所有元素

df.A[df.B.isin([5])]

1    4
Name: A, dtype: int32

In [5]:
df['A']=5

   A   B   C   D
0  5   1   2   3
1  5   5   6   7
2  5   9  10  11
3  5  13  14  15

In [7]:
df.A.value_counts()

5     1
12    1
8     1
0     1
Name: A, dtype: int64

In [8]:
df.A

0     0
1     5
2     8
3    12
Name: A, dtype: int32