# 使用python进行删除操作

## 基本语法结构如下

### DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')

* labels : single label or list-like
Index or column labels to drop.


* axis : int or axis name
Whether to drop labels from the index (0 / ‘index’) or columns (1 / ‘columns’).


* index, columns : single label or list-like
Alternative to specifying axis (labels, axis=1 is equivalent to columns=labels).

* level : int or level name, default None
For MultiIndex


* inplace : bool, default False
If True, do operation inplace and return None.


* errors : {‘ignore’, ‘raise’}, default ‘raise’
If ‘ignore’, suppress error and existing labels are dropped.

> **下面是一个小荔枝:**

In [13]:
import pandas as pd
import numpy as np

# 生成一个数据让我练手
df = pd.DataFrame(np.arange(12).reshape(3,4),
                      columns=['A', 'B', 'C', 'D'])
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

# 例如在一个数据集df中，我们需要删除B和C两列数据,怎么操作呢？
如果是在stata中命令就是

* drop B

* drop C 


# 在python中，第一种操作是使用drop命令

In [16]:
#在python中,使用drop命令默认下不会改变原有的df数据集

# 或者使用df.drop(labels='B',axis=1)
df.drop(labels=['B','C'],axis=1)

   A   D
0  0   3
1  4   7
2  8  11

# 第二种操作是使用del命令

In [12]:
#使用del命令是会直接对df数据集进行更改,一般不建议使用
del df['B']
df

   A   C   D
0  0   2   3
1  4   6   7
2  8  10  11

## 我们如果要给定某条件进行删除

In [21]:
df = pd.DataFrame(np.arange(16).reshape(4,4),
                      columns=['A', 'B', 'C', 'D'])
df

    A   B   C   D
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

## 例如我们想要删除B列中比6小的所有行

## 本质上是通过索引来完成的

In [22]:
df1 = df[df['B']>6]

df1

    A   B   C   D
2   8   9  10  11
3  12  13  14  15

In [24]:
df1 = df[(df['B']>1) & (df['B']<10)]

df1

   A  B   C   D
1  4  5   6   7
2  8  9  10  11

## 例如我们想要删除B列中等于5的某一行

In [27]:
df1= df[~df['B'].isin([5])]


df1

    A   B   C   D
0   0   1   2   3
2   8   9  10  11
3  12  13  14  15

# 如果我们要删除某一行怎么办呢

In [30]:
df.drop(labels=1, axis=0)

    A   B   C   D
0   0   1   2   3
2   8   9  10  11
3  12  13  14  15